<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
     <link rel="manifest" href="manifest.json">
     <meta name="theme-color" content="#317EFB"/>
     <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- icon in the highest resolution we need it for -->
    <link rel="icon" sizes="192x192" href="icon.png">

    <!-- reuse same icon for Safari -->
    <link rel="apple-touch-icon" href="ios-icon.png">

    <!-- multiple icons for IE -->
    <meta name="msapplication-square310x310logo" content="icon_largetile.png">

    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-messaging.js"></script>
  </head>